.modal {
    padding: 20px;

    &__title {
        margin-bottom: 15px;
    }

    &__select {
        width: 100%;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
    }
}
