html,
body,
#root {
    height: 100%;
    min-width: 320px;
    margin: 0;
}

.g-root_theme_light {
    --g-color-base-brand: #b184e6;
    --g-color-base-brand-hover: #a675df;
    --g-color-base-selection: #f5f0fc;
    --g-color-base-selection-hover: #ebe0f9;
    --g-color-line-brand: #b184e6;
    --g-color-text-brand: #8864b2;
    --g-color-text-link: #8864b2;
    --g-color-text-link-hover: #6b5387;
}

a {
    text-decoration: none;
}
