.card {
    padding: 10px;
}

.subhead {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.main_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cs_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.vertical {
    display: block;
    width: 1px;
    height: 30px;
    border-left: 1px solid #373737;
}

.m {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding: 10px;
    list-style: none;
}

.po {
    border: 1px solid rgba(55, 55, 55, 0.5);
    border-radius: 10px;
    padding: 5px 10px;
}

.poi {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 0;
}

.confirm {
    padding: 20px;

    &__title {
        margin-bottom: 20px;
        display: block;
    }

    &__buttons {
        display: flex;
        gap: 10px;
    }
}

.comments {
    padding: 20px;

    &__text {
        display: block;
        margin-bottom: 15px;
    }
}
